#ds-reset .ds-avatar img {
  width: 40px !important;
  height: 40px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
}
#ds-reset .ds-avatar img:hover {
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}

#ds-reset .ds-powered-by {
  display: none;
}

#ds-thread {
  clear: none !important;
  float: left;
  margin-top: 0;
  width: 100%;
}

#ds-reset .ds-gradient-bg{background:none !important;}

#ds-thread #ds-reset .ds-post-button{background:none !important;color:#000000 !important;}

#ds-thread{ border-radius: 0px !important ;border:none !important;}

#ds-thread #ds-reset li.ds-tab a.ds-current{background:none !important;border:none !important;}

#ds-thread #ds-reset .ds-highlight{color: #aa759f !important;}