#ds-reset .ds-avatar img {
  width: 40px !important;
  height: 40px !important;
  -webkit-border-radius: 20px !important;
  -moz-border-radius: 20px !important;
  border-radius: 20px !important;
  -webkit-transition: -webkit-transform 0.4s ease-out;
  -moz-transition: -moz-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
}
#ds-reset .ds-avatar img:hover {
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}

#ds-reset .ds-powered-by {
  display: none;
}

#ds-thread {
  clear: none !important;
  float: left;
  margin-top: 0;
  width: 100%;
}

#ds-wrapper #ds-reset  .ds-post-likes  {
display: none !important;}
/*喜欢按钮*/
#ds-reset a.ds-like-thread-button {display: none !important;
border-top: 0px !important;}

#ds-thread #ds-reset .ds-sort, #ds-thread #ds-reset #ds-bubble, #ds-thread #ds-reset .ds-powered-by, #ds-reset .ds-logo, #ds-wrapper #ds-reset .ds-dialog-footer, .ds-post-likes, .ds-post-report, .ds-post-repost, #ds-smilies-tooltip ul.ds-smilies-tabs, .ds-comments-tabs { display: none !important;}
#ds-thread #ds-reset li.ds-tab a { background: none !important; border: 0 !important; font-size: 14px !important; color: #999 !important;}
#ds-thread #ds-reset a.ds-comment-context, .page-break { color: #999 !important;}
#ds-thread #ds-reset ul.ds-comments-tabs .ds-highlight, #ds-notify #ds-reset ul.ds-notify-unread li a, #ds-wrapper #ds-reset .ds-unread-list li a, #ds-wrapper #ds-reset .ds-unread-list li a:hover { color: #2CB4BF !important;}
#ds-wrapper #ds-reset .ds-unread-list li a:hover, #ds-thread #ds-reset .ds-login-buttons .ds-more-services:hover { text-decoration: underline;}
#ds-thread #ds-reset li.ds-post { border-top: 1px dotted #DDD !important;}
#ds-thread #ds-reset .ds-comments, #ds-thread #ds-reset .ds-paginator { border-bottom: 1px dotted #DDD !important;}
#ds-reset .ds-avatar img { box-shadow: none !important;}
#ds-thread #ds-reset ul.ds-children { margin-left: 50px !important;}
#ds-reset .ds-highlight, #ds-thread #ds-reset .ds-login-buttons .ds-more-services, #ds-thread #ds-reset .ds-login-buttons .ds-more-services:hover { color: #999 !important;}
#ds-thread #ds-reset .ds-comment-body p, #ds-thread #ds-reset .ds-textarea-wrapper textarea, #ds-thread #ds-reset .ds-textarea-wrapper .ds-hidden-text { font-size: 14px !important;}
#ds-thread #ds-reset .ds-post-self { padding: 20px 10px !important;}
#ds-notify #ds-reset ul.ds-notify-unread { margin: 0 !important;}
#ds-thread #ds-reset .ds-replybox { margin: 0 !important;}
#ds-smilies-tooltip .ds-smilies-container { margin-left: 0 !important; height: auto !important;}
#ds-thread #ds-reset .ds-textarea-wrapper { background: none !important;}
#ds-reset .ds-gradient-bg { background: #FBFBFB !important;}
#ds-thread #ds-reset .ds-post-button { position: absolute !important; left: 0 !important; top: 45px !important; font-weight: normal !important; font-size: 12px !important; text-shadow: none !important; border: 0 !important; height: 23px !important; line-height: 23px !important; width: 52px !important; background: #aa759f !important; color: #FFF !important;}
#ds-thread #ds-reset button:hover, #ds-thread #ds-reset button:active { background: #ffc0cb !important; color: #FFF !important; box-shadow: none !important;}
#ds-thread #ds-reset button:active { background: #ffc0cb !important;}
#ds-thread #ds-reset .ds-textarea-wrapper textarea:focus { color: #666 !important;}
#ds-thread #ds-reset .ds-comment-body p { color: #666 !important;}
#ds-thread #ds-reset .ds-textarea-wrapper, #ds-thread #ds-reset .ds-post-options, #ds-thread #ds-reset .ds-post-button { border-radius: 0 !important;}
#ds-thread #ds-reset .ds-post-options { margin-right: 0 !important; border: 1px solid #CCC !important;}
#ds-smilies-tooltip, #ds-thread #ds-reset .ds-account-control ul { border-radius: 0 !important; box-shadow: none !important;}
#ds-thread #ds-reset .ds-inline-replybox { margin: 18px 0 38px 0 !important;}
#ds-thread #ds-reset .ds-post-self { border: 0 !important;}
.ds-user-name { font: 14px Verdana,SimSun !important;}
#ds-thread #ds-reset .ds-time  { font: 12px Verdana,SimSun !important;}
#ds-thread #ds-reset .ds-paginator a.ds-current, #ds-thread #ds-reset a { color: #999 !important;}
#ds-notify { z-index: 10001 !important;}
#ds-thread #ds-reset .ds-paginator { text-align:center !important;}
.ds-comments-info { padding: -10px 0 !important;}

#ds-thread #ds-reset .ds-login-buttons {
    border-top: none !important;
}
#ds-thread #ds-reset .ds-border-highlight {
    border-bottom: none !important;
}

#ds-thread #ds-reset .ds-toolbar {
    border-top:none !important;
}

#ds-thread #ds-reset .ds-comments {
display: none !important;
}